<header>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet"/> -->
</header>

<main>
  <body class='index'>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">The Space</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/apod">APOD</a></li>
          <li><a href="/images">Explore</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>


    <div class='content'>
      <div class='visible'>
        <p>
          The space is
        </p>
        <ul class='scroll'>
          <li class='dash-li'>Eternal</li>
          <li class='dash-li'>Poetic</li>
          <li class='dash-li'>Dynamic</li>
          <li class='dash-li'>Orderly</li>
        </ul>
      </div>
    </div>
  </body>
</main>

<!-- <footer style="position:fixed" id="footer">
  <div class="row">
    <div class="col s8">
      <h5 class="white-text">The Space</h5>
      <h6 class="grey-text text-lighten-4">© 2017 Isaac Yanbin La Copyright Text</h6>
    </div>
    <div class="col s4">
      <h5 class="white-text">Links</h5>
      <a href="#">NASA</a> | <a href="#">NASA Image</a> | <a href="#">Another</a>
    </div>
  </div>
</footer> -->
