<head>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet"/> -->
</head>

<main>
  <body class='index'>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">The Space</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/apod">APOD</a></li>
          <li><a href="/images">Explore</a></li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>


    <div class='content'>
      <div class='visible'>
        <p>
          The space is
        </p>
        <ul class='scroll'>
          <li class='dash-li'>Beautiful</li>
          <li class='dash-li'>Awesome</li>
          <li class='dash-li'>Emm~~~~~</li>
          <li class='dash-li'>Run out words</li>
        </ul>
      </div>
    </div>
  </body>
</main>
