/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require_materialize.min
 *= require_masonry

 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 */
 @import "materialize";


nav{
  background: rgba(10, 10, 10, 0.5);
  height: 120px;
  padding: 1% 2% 1% 2%;
  color:rgb(255, 253, 208);
}

nav:hover{
  background: rgba(10, 10, 10, 1);
}

#logoutbtn{
  background-color: #26A69A;
  border-radius: 2px;
  margin-left: 5px;
}

.disabled{
  pointer-events: none;
  cursor: default;
  border-bottom: 3px solid lightblue;
}

nav li:hover{
  border-bottom: 3px solid lightblue;
}

footer{
    background: rgba(10, 10, 10, 0.5);
    height: 100px;
    padding: 1% 2% 1% 2%;
    color: rgb(255, 253, 208);
    right: 0;
    bottom: 0;
    left: 0;
    // position: fixed;
    position: relative;
    // position: absolute;
    // width: 100%
}

footer:hover{
  background: rgba(10, 10, 10, 1);
}
