// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.index{
  background: url(/mainindex3.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48)
}

body.apod{
  background-color: #191919;
  color: rgb(255, 253, 208);
}

.nav-extended{
  background-color:rgb(46, 54, 68)
}

#apod_img_id{
    width: 90%;
    // height: 400px;
    border-radius: 10px;
    // border: 2px solid grey;
}

#apod_explaination{
  text-align: justify;
  font-size: medium;
}

#righttext{
  padding-right: 4%;
  text-align: center
}

#apod_body{
  border: 1px solid rgb(255, 253, 208);
  padding: 3%;
  border-radius: 3px
}

#apod_header:hover{
  cursor: pointer;
}
