// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.dashboard{
  background: url(/dashboard.jpeg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
  color: rgb(255, 253, 208);
}

body.user_edit{
  background: url(/useredit.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
  color: rgb(255, 253, 208);
}

body.user_profile{
  background-color: black;
  color: rgb(255, 253, 208);
  // color: rgb(114, 235, 199);
}

.create_event{
  padding:5%
}

#profile_nav{
  border-bottom: 5px solid rgb(255, 253, 208)
}

.imagetitle{
  color: rgb(255, 253, 208);
}

#profileimage{
  border: 3px solid rgb(255, 253, 208);
}

#collapsible-header{
  background-color: rgba(48, 44, 43, 0.7);
  font-size: larger;
  font-family:sans-serif;
}

.dashboard_image{
  width: 100%;
  height: 350px;
}

#image_box{
  // background-color: rgba(48, 44, 43, 0.7);
  // margin: 1%
}

#dash_image_title{
  text-align: center;
}

.grid-item { width: auto; }

body.user_show{
  background-color: black;
  color: rgb(255, 253, 208);
}
