// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.dashboard{
  background: url(/dashboard.jpeg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
  color: rgb(255, 253, 208);
}

body.user_edit{
  background: url(/useredit.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
  color: rgb(255, 253, 208);
}

body.user_profile{
  background: url(/profile.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
  color: rgb(255, 253, 208);
  // background-color: black;
  // background-color: blue;
  color: rgb(255, 253, 208);
  // height: 100%;
  // color: rgb(114, 235, 199);
}

body.user_show{
  background: url(/user_show.jpg);
  background-color: black;
  color: rgb(255, 253, 208);
  margin:0 auto;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

body.user_images{
  background: url(/user_images.jpg);
  background-color: black;
  color: rgb(255, 253, 208);
  margin:0 auto;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.create_event{
  padding:5%
}


.imagetitle{
  color: rgb(255, 253, 208);
}

#profileimage{
  border: 3px solid rgb(255, 253, 208);
}

#collapsible-header{
  background-color: rgba(48, 44, 43, 0.7);
  font-size: larger;
  font-family:sans-serif;
}

.dashboard_image{
  width: 100%;
  height: 350px;
  border-radius: 3px;
}

#image_box{
  // background-color: rgba(48, 44, 43, 0.7);
  // margin: 1%
}

#dash_image_title{
  text-align: center;
}

.grid-item { width: auto; }

#thecard{
  text-align:center;
  width: 60%;
  margin: auto;
  margin-top: 5%;
}

#thecontent {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 253, 208);
  height: 100px;
  overflow:hidden;
}

#thevisible {
  font-weight:600;
  overflow:hidden;
  height:40px;
  padding:0 60px;

  &:before {
    content:'[';
    left: 0;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
}

p {
  display:inline;
  float:left;
  margin:0;
}

ul.scroll {
  margin-top:0;
  padding-left:110px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.scroll{
  line-height:40px;
  margin-left: 200px;
}

.dash-li{
  line-height:40px;
  margin-left: 30px;
}



@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}


#sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  background-color: rgba(48, 44, 43, 0.7);
  position: absolute;
  overflow: auto;
  bottom: 100px;
  top: 121px;
  left: 0px;
  text-align:center;
}

.side-item {
  margin-top: 40px;
  font-size: large;
}

.side-item{
  display: block;
  text-decoration: none;
  color: #fffdd0;
  padding: 8px 0 8px 0;
  font-family: Verdana;
  margin-top: 5px;
}

.side-item a{
  color: #fffdd0;
}

.side-item:hover {
  cursor: pointer;
  border-bottom: 5px solid lightblue;
  // color: white;
}

.profile_event_body{
  // display:none;
  background-color: rgba(91, 87, 86, 0.6);
  color: rgb(255, 253, 208);
  border: 1px solid rgb(255, 253, 208);
  height: auto;
  padding: 3%;
  // text-align: center;
}


.profile_event_header:hover{
  cursor: pointer;
}

.profile_event_header{
  background-color: rgba(48, 44, 43, 0.7);
  // text-align: center;
  font-size: x-large;
  height:auto;
  padding: 3%;
  border: 1px solid rgb(255, 253, 208);
}

#profile_attending{
  height: 800px;
  overflow-y: scroll;
  padding: 5%;
}

#profile_hosting{
  height: 800px;
  overflow-y: scroll;
  padding: 5%;
}

#profile_friends_header{
  background-color: rgba(48, 44, 43, 0.7);
  text-align: center;
}

#my_friend{
  background-color: rgba(91, 87, 86, 0.6);
}

.unfriend{
  font-style:italic;
  font-size:smaller;
  float:right;
}
