// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.dashboard{
  background: url(/dashboard.jpeg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
  color: rgb(255, 253, 208);
}

.create_event{
  padding:5%
}
